In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('machine_failure_cleaned.csv')
df.head()

,Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,Machine failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [3]:
df = df.rename({'Rotational speed [rpm]':'Rotational_speed_rpm','Torque [Nm]':'Torque_Nm', 'Tool wear [min]':'Tool_wear_min','Machine failure':'Machine_failure'},axis=1)

In [4]:
df.head()

,Rotational_speed_rpm,Torque_Nm,Tool_wear_min,TWF,HDF,PWF,OSF,Machine_failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [5]:
df.Machine_failure.unique()

array([0, 1], dtype=int64)

In [6]:
df.isna().sum()

Rotational_speed_rpm    0
Torque_Nm               0
Tool_wear_min           0
TWF                     0
HDF                     0
PWF                     0
OSF                     0
Machine_failure         0
dtype: int64

In [7]:
df.describe()

,Rotational_speed_rpm,Torque_Nm,Tool_wear_min,TWF,HDF,PWF,OSF,Machine_failure
count,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000
mean,1526.383393,40.330015,107.913602,0.004483,0.011717,0.004483,0.009577,0.029139
std,147.306781,9.420254,63.626881,0.066808,0.107613,0.066808,0.097398,0.168205
min,1168.000000,16.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1422.000000,33.600000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1501.000000,40.200000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1606.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2076.000000,68.900000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df.head()

,Rotational_speed_rpm,Torque_Nm,Tool_wear_min,TWF,HDF,PWF,OSF,Machine_failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [9]:
x= df.drop(columns=['Machine_failure'], axis=1)
y = df.Machine_failure

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=30)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
lr= LogisticRegression()
lr.fit(x_train,y_train)
y_pred1 = lr.predict(x_test)
print(f'Classification Report Logistic Regression = {classification_report(y_test,y_pred1)}')

Classification Report Logistic Regression =               precision    recall  f1-score   support

           0       1.00      1.00      1.00      1897
           1       1.00      0.97      0.98        66

    accuracy                           1.00      1963
   macro avg       1.00      0.98      0.99      1963
weighted avg       1.00      1.00      1.00      1963

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred2 = rf.predict(x_test)
print(f'classification report for random forest = {classification_report(y_test,y_pred2)}')

classification report for random forest =               precision    recall  f1-score   support

           0       1.00      1.00      1.00      1897
           1       1.00      1.00      1.00        66

    accuracy                           1.00      1963
   macro avg       1.00      1.00      1.00      1963
weighted avg       1.00      1.00      1.00      1963

In [19]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
r = Ridge(alpha=1.0)
r.fit(x_train,y_train)
y_pred3 = r.predict(x_test)
mse = mean_squared_error(y_test, y_pred3)
mse*100

0.2510579233564929

In [21]:
import pickle
with open("ridge_regression.pkl",'wb') as f:
    pickle.dump(r,f)

In [22]:
#load model
with open('ridge_regression.pkl','rb') as f:
    loaded_model = pickle.load(f)

In [25]:
with open("logistic.pkl",'wb') as f:
    pickle.dump(lr,f)

In [24]:
with open("random_forest.pkl",'wb') as f:
    pickle.dump(rf,f)

In [34]:
model = open('logistic.pkl','rb')
    
classifier = pickle.load(model)

In [35]:
classifier.predict([[10,12.5,5,0,0,0,0]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=int64)