In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('machine_failure_cleaned.csv')
df.head()

,Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,Machine failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [6]:
df = df.rename({'Rotational speed [rpm]':'Rotational_speed_rpm','Torque [Nm]':'Torque_Nm', 'Tool wear [min]':'Tool_wear_min','Machine failure':'Machine_failure'},axis=1)

In [7]:
df.head()

,Rotational_speed_rpm,Torque_Nm,Tool_wear_min,TWF,HDF,PWF,OSF,Machine_failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [8]:
df.Machine_failure.unique()

array([0, 1], dtype=int64)

In [16]:
df.isna().sum()

Rotational_speed_rpm    0
Torque_Nm               0
Tool_wear_min           0
TWF                     0
HDF                     0
PWF                     0
OSF                     0
Machine_failure         0
dtype: int64

In [18]:
df.describe()

,Rotational_speed_rpm,Torque_Nm,Tool_wear_min,TWF,HDF,PWF,OSF,Machine_failure
count,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000
mean,1526.383393,40.330015,107.913602,0.004483,0.011717,0.004483,0.009577,0.029139
std,147.306781,9.420254,63.626881,0.066808,0.107613,0.066808,0.097398,0.168205
min,1168.000000,16.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1422.000000,33.600000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1501.000000,40.200000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1606.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2076.000000,68.900000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
df.head()

,Rotational_speed_rpm,Torque_Nm,Tool_wear_min,TWF,HDF,PWF,OSF,Machine_failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [21]:
x= df.drop(columns=['Machine_failure'], axis=1)
y = df.Machine_failure

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=30)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Define classifiers and their parameter grids
classifiers = {
    'Logistic Regression': (LogisticRegression(), {
        'C': [0.001, 0.01, 0.1, 1, 10, 100],  
        'penalty': ['l1', 'l2'],  
        'solver': ['liblinear']
    }),
    'Random Forest': (RandomForestClassifier(), {
        'n_estimators': [100, 200, 300],  
        'max_depth': [None, 10, 20, 30],  
        'min_samples_split': [2, 5, 10],  
        'min_samples_leaf': [1, 2, 4]
    })
}

# Iterate over classifiers
for clf_name, (clf, param_grid) in classifiers.items():
    print(f"Tuning hyperparameters for {clf_name}")
    
    # Create GridSearchCV instance
    grid_search = GridSearchCV(clf, param_grid, cv=5, scoring='accuracy')
    
    # Fit GridSearchCV
    grid_search.fit(x_train, y_train)
    
    print("Best parameters found:")
    print(grid_search.best_params_)
    print("Best cross-validation score: {:.2f}".format(grid_search.best_score_))
    print("\n")

Tuning hyperparameters for Logistic Regression
Best parameters found:
{'C': 1, 'penalty': 'l1', 'solver': 'liblinear'}
Best cross-validation score: 1.00


Tuning hyperparameters for Random Forest